# Ignore Visual Studio files
.vs/
*.suo
*.user
*.userprefs

# Ignore build directories
/bin/
/obj/

# Ignore NuGet packages
packages/
*.nupkg

# Ignore logs
*.log

# Ignore temporary files
*.tmp
/DSA_Group1_Final_Project/obj/x86/Debug/net8.0-windows/DSA_Group1_Final_Project.AssemblyInfo.cs
/DSA_Group1_Final_Project/obj/x86/Debug/net8.0-windows/DSA_Group1_Final_Project.AssemblyInfoInputs.cache
